*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent,.images{
    background-color: #f7f3ef;
    width: 95%;
    height: 96vh;
    border-radius: 20px;
    margin: 10px auto;
}
.parent{
    position: relative;
}
.images{
    width:100%;
    position: absolute;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-width{
    width: 370px;
    height:220px;
    border-radius: 6px;
}
.img-hieght{
    width: 370px;
    height: 450px;
    border-radius: 6px;
}
.div1,.div2{
    animation-name: movetoright;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: relative;
}
.div3,.div4{
    animation-name: movetoleft;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;
}
.div1,.div4{
    animation-delay: 1s;
}
.div2,.div3{
    animation-delay: 3s;
}
@keyframes movetoright{
    0%{
        right: 0;
    }
    100%{
        right: 330px;
    }
}
@keyframes movetoleft{
    0%{
        left: 0;
    }
    100%{
        left: 330px;
    }
}
.text{
    background-color: #fff;
    width:500px;
    height:450px;
    position: absolute;
    border-radius: 10px;
    outline: 3px solid #f7f3ef;
    outline-offset: -12px;
    padding:25px;
    text-align: center;
}
.text h3{
    color: #474646;
}
.text span{
    width: 200px;
    height: 5px;
    background-color:#f7f3ef;
    display: inline-block;
}
.text p{
    text-align: start;
    margin: 10px;
}
.icons{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 21px 20px;
}
.icons i{
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom:5px solid #f7f3ef;
    position: relative;
}
.fa-location-dot,.fa-mountain-sun{
    left: 390px;
}
.fa-plane{
    animation:runtoleft 2s 5s  forwards;
}
.fa-location-dot{
    animation:runtoright 2s 6s  forwards;
}
.fa-hotel{
    animation:runtoleft 2s 7s  forwards;
}
.fa-mountain-sun{
    animation:runtoright 2s 8s  forwards;
}
@keyframes runtoleft{
    0%{
        left: 0;
        color: #333;
    }
    100%{
        left: 400px;
        color: #85A389;
    }
}
@keyframes runtoright{
    0%{
        left: 390;
        color: #333;
    }
    100%{
        left: 0px;
        color: #468B97;
    }
}
/* .icons i:hover{
    color: #d1cdc9;
    border-bottom:5px solid #333;

} */






